.App {
    padding: 20px 0px 0px 50px;
    color: white;
    height: 1000px;
background-image: url("https://static8.depositphotos.com/1000401/928/i/600/depositphotos_9286660-stock-photo-gas-cloud-in-deep-outer.jpg");
}
