.App {
    padding: 20px 0 0 50px;
    color: white;

    height: 1000px;
    background-size: cover;
    background: url("https://static8.depositphotos.com/1000401/928/i/600/depositphotos_9286660-stock-photo-gas-cloud-in-deep-outer.jpg") repeat;
}

