.superInput {
    height: 16px;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    /*border-bottom: 0.1rem solid transparent;*/
    transition: all 0.3s;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}